body {
  font-family: "Bahnschrift", "Josefin Sans", sans-serif;
  font-weight: normal;
  font-style: normal;
  background: #ffe4c4;
}
h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
}
.picture-page {
  width: 100%;
  background: transparent;
  /* height: 100dvh; */
}
.picture-page__wrapper {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.picture-page__wrapper h1 {
  font-size: clamp(40px, 5vw, 50px);
  font-weight: 600;
  color: #750000;
}
.picture-page__wrapper h2 {
  font-size: clamp(35px, 5vw, 50px);
  font-weight: 300;
  color: #750000;
}
.picture-page__wrapper h3 {
  font-size: clamp(25px, 5vw, 50px);
  font-weight: 200;
  color: #750000;
  text-transform: uppercase;
}
.picture-page__arrows {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
.picture-page__arrows img {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.picture-page__arrows img:hover {
  opacity: 0.7;
}
/*-----стрелки-----*/
.arr-left {
  transform: rotate(180deg);
}
.picture-page__arrows img {
  width: 80px;
  height: 80px;
}
@media (max-width: 767px) {
  .picture-page__arrows img {
    width: 60px;
    height: 60px;
  }
  .picture-page__arrows {
    gap: 10px;
  }
}
/*-----picture-box-----*/
.picture-box {
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.picture-box-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.picture-box h4 {
  font-size: clamp(20px, 5vw, 30px);
  font-weight: 400;
  color: #750000;
}
.slider-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  background: #fff;
  cursor: pointer;
}
@media (max-width: 767px) {
  .slider-image {
    height: 200px;
  }
}
/*-----тень-----*/
.shadow {
  position: relative;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 30px rgba(0, 0, 0, 0.1) inset;
}
.shadow:before,
.shadow:after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 15px;
  left: 10px;
  width: 50%;
  height: 20%;
  max-width: 300px;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
  transform: rotate(-3deg);
}
.shadow:after {
  right: 10px;
  left: auto;
  transform: rotate(3deg);
}
/*-----слайдер фото-----*/
.slider {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffe4c4;
}
.slider__wrapper {
  margin: 50px auto;
  max-width: 80%;
  max-height: 80%;
  display: flex;
  position: relative;
}
@media (max-width: 1024px) {
  .slider__wrapper {
    max-width: 90%;
    height: fit-content;
  }
}
.slider-content {
  width: 100%;
  height: 100%;
}
@media (max-width: 768px) {
  .slider-content {
    max-width: 100%;
    max-height: 100%;
    margin: auto auto;
    display: block;
  }
}
/*-----кнопка закрыть-----*/
.closed-img {
  position: absolute;
  width: 30px;
  height: 30px;
  font-size: 20px;
  border-radius: 50%;
  top: 0;
  right: -35px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #000;
  border: 1px solid #000;
}

/*-----стрелки слайдера-----*/
.button-prev,
.button-next {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #750000;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  background: #750000;
  color: #fff;
}
.button-prev:hover,
.button-next:hover {
  background: #ffe4c4;
  color: #750000;
}
.button-prev {
  transform: rotate(180deg);
  position: absolute;
  top: 50%;
  left: -25px;
}
.button-next {
  position: absolute;
  top: 50%;
  right: -25px;
}
